annotated-types
anyio
asn1crypto
boto3
botocore
certifi
cffi
charset-normalizer
click
cryptography
distro
faiss-cpu
fastapi
filelock
h11
httpcore
httpx
idna
jiter
jmespath
mangum
numpy
openai
packaging
pandas
platformdirs
pyarrow
pycparser
pydantic
pydantic_core
PyJWT
pyOpenSSL
python-dateutil
python-dotenv
pytz
requests
s3transfer
six
slack_sdk
sniffio
snowflake-connector-python
sortedcontainers
starlette
tabulate
tomlkit
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
